@tailwind base;
@tailwind components;
@tailwind utilities;

#light {
  color-scheme: light;
  background-color: #ffffff;
}

#dark {
  color-scheme: dark;
  background-color: #161616;
  color: #d9dbd6;
}

#light #nav {
  color: #00000075;
}

#light #nav:hover,
#light #active {
  color: #000000;
}

#dark #nav {
  color: #c7dde375;
}
#dark #nav:hover,
#dark #active {
  color: #c7dde3;
}
